@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Expletus Sans", system-ui, sans-serif;
    font-weight: 600;
  }

  html {
    color: #565656;
    background: radial-gradient(
        109.23% 109.23% at 38.23% 102.78%,
        rgba(185, 149, 96, 0.2) 0%,
        rgba(255, 242, 223, 0.2) 100%
      ),
      #ffffff;
  }
}

.papa-underline {
  border-bottom: 1px dashed;
}

/* Marquee CSS from this awesome answer: https://stackoverflow.com/a/21233577/2350685 */
.marquee {
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

.marquee span {
  display: inline-block;
  width: max-content;

  padding-left: 100%;
  /* show the marquee just outside the paragraph */
  will-change: transform;
  animation: marquee 15s linear infinite;
}

.marquee span:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/* Respect user preferences about animations */

@media (prefers-reduced-motion: reduce) {
  .marquee span {
    animation-iteration-count: 1;
    animation-duration: 0.01;
    /* instead of animation: none, so an animationend event is 
     * still available, if previously attached.
     */
    width: auto;
    padding-left: 0;
  }
}
